body {
    font-family: sans-serif;
    padding-left:10px;
}
header {
    max-width:1100px;
}
#hal {
    color: orange;
    font-size: 22px;
    text-decoration:none;
}
h1 {
    font-size: 41px;
}
h3 {
    font-size:25px;
    font-weight: normal;
    color:#3b3b3b;
}
#neg1 {
    font-weight:bold;
    text-decoration:none;
    color:#3b3b3b;
}
.date {
    font-size: 15px;
    color:#3b3b3b;
}
figure {
    max-width:750px;
    color:#3b3b3b;
    margin-left:-3px;
    font-size:15px;
}
.paragraph {
    max-width:800px;
    color:#3b3b3b;
    font-size:18px;
    max-width:770px;
    letter-spacing: normal;
    line-height: 1.7;
}
.neg {
    font-weight: bold;
    color:#1f1f1f;
}
.italics {
    font-style: italic;
    color:#3b3b3b;
}



