body {
    padding-left:18px;
}
header {
    line-height : 20px;
}
.hpv {
    font-size: 13px;
    text-decoration:none;
    color:#1f1f1f;
}
#arrow {
    font-size:11px;
    font-weight: 1px;
}
#date {
    font-size: 11px;
    line-height: 17px;
    padding: 15px 0;
    display: block;
}
h1 {
    max-width:1200px;
    font-size: 45px;
    font-family: sans-Serif;
    font-weight: 600;
    color: black;
}
h2 {
    font-size:18px;
    font-weight: 800;
    font-style: italic;
}
#neg1 {
    font-weight:bold;
    text-decoration:none;
    color:#3b3b3b;
}

figure {
    max-width:900px;
    margin-left:-3px;
    font-size:12.5px;
    font-family: sans-serif;
}
#img1 {
    width: 890px; height: 520px;
}
#img2 {
    width: 890px; height: 430px;
}
#img3 {
    width: 200px; height: 520px;
}
#sep {
    border-top:1px solid;
    border-bottom:1px solid;
    margin-left:-3px;
    font-size:20px;
    font-weight: bold;
    line-height: 50px;
    padding: 10px;
}
.paragraph {
    width:880px;
    color:black;
    font-size:17px;
    font-family: sans-serif;
    letter-spacing: normal;
    line-height: 1.7;
}
.paragraph-right {
    width:540px;
    color:black;
    font-size:17px;
    font-family: sans-serif;
    letter-spacing: normal;
    line-height: 1.7;
    padding-left:330px;
}
.paragraph-left {
    width:280px;
    color:black;
    font-size:17px;
    font-family: sans-serif;
    letter-spacing: normal;
    line-height: 1.7;
}
.neg {
    font-weight: bold;
    color:#1f1f1f;
}
.italics {
    font-style: italic;
    color:#3b3b3b;
}